@font-face {
    font-family: 'SourceSansPro';
    src: url(/fonts/source-sans-pro/SourceSansPro-Regular.otf);
}

/* body styles */
body {
    font-family: "Source Sans Pro", Sans-serif;
}
.logo-text {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
}